.myerror {
    border-color: red;
}
label {
    margin-top: 2rem;
    text-align: left;
    display: inherit;
}
.myAccept {
    display: unset; 
}
.myLast {
    margin-top: 2rem;
}
.mystreet {
    width: 86%;
    float: left;
}
.myDisplay {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}