<template>
  <div class="container col-4">
    <p>Hello World!</p>
    <p>{{ formData.id }}</p>
    <form @submit="formSubmit" class="needs-validation row" id="myForm">
    <div class="col-6">
    <div class="mb-3">
      <!-- name -->    
      <label class="form-label" for="name">Name</label>
      <input type="text" class="form-control" aria-label="name" id="name" v-model="myName" placeholder="Your name here" :class="{ myerror :formValidation.myName}">
      <div class="alert alert-danger" role="alert" v-if="formValidation.myName">
        Please write your name.
      </div>
    </div>
    <div class="mb-3">
      <!-- email -->    
      <label class="form-label" for="mail">Name</label>
      <input type="email" class="form-control" aria-label="mail" id="mail" v-model="mail" placeholder="example@mail.com" :class="{ myerror :formValidation.mail}">
      <div class="alert alert-danger" role="alert" v-if="formValidation.mail">
        Please introduce a valid email, example: myemail@example.com.
      </div>
    </div>
    <div class="mb-3">
      <!-- Type of documment -->    
      <label class="form-label" for="doctype">Type of documment</label>
      <select class="form-select" aria-label="documment type" id="doctype" v-model="doctype"  :class="{ myerror :formValidation.doc}">
        <option value="default">Open this select menu</option>
        <option value="dni">DNI</option>
        <option value="nie">NIE</option>
        <option :value="formData.docType">{{formData.docType}}</option>
      </select>
      <div class="alert alert-danger" role="alert" v-if="formValidation.doc">
        Please choose a type of documment.
      </div>
    </div>
    <div class="mb-3">
      <!-- document -->    
      <label class="form-label" for="document">Document</label>
      <input type="text" class="form-control" aria-label="document" id="document" v-model="document" placeholder="15269473G" :class="{ myerror :formValidation.document}">
      <div class="alert alert-danger" role="alert" v-if="formValidation.document">
        Please introduce a valid document, example: 15269473G.
      </div>
    </div>
      </div> <!--end of col2-->
      <div class="col-6">
      <div class="mb-3">
        <!-- Type of status -->    
        <label class="form-label" for="status">Status</label>
        <select class="form-select" aria-label="status" id="status" v-model="status"  :class="{ myerror :formValidation.status}">
          <option value="default">Open this select menu</option>
          <option v-for="item in formData.status" :value="item.value">{{item.text}}</option>
        </select>
        <div class="alert alert-danger" role="alert" v-if="formValidation.status">
          Please choose a status.
        </div>
      </div>
      <div class="mb-3">
        <!-- Type of nationality -->    
        <label class="form-label" for="nationality">Nationality</label>
        <select class="form-select" aria-label="nationality" id="nationality" v-model="nationality"  :class="{ myerror :formValidation.nationality}">
          <option value="default">Open this select menu</option>
          <option v-for="item in formData.nationality" :value="item.value">{{item.text}}</option>
        </select>
        <div class="alert alert-danger" role="alert"  v-if="formValidation.nationality">
          Please choose a nationality.
        </div>
      </div>
      <div class="mb-3">
        <!-- Type of studies -->    
        <label class="form-label" for="studies">Studies</label>
        <select class="form-select" aria-label="studies" id="studies" v-model="studies"  :class="{ myerror :formValidation.studies}">
          <option value="default">Open this select menu</option>
          <option v-for="item in formData.studies" :value="item.value" >{{item.text}}</option>
        </select>
        <div class="alert alert-danger" role="alert" v-if="formValidation.studies">
          Please choose studies.
        </div>
      </div>

    </div><!--End of col -->
    <div class="col-12">
      <label class="form-label" for="pw">Passowrd</label>
      <input type="password" class="form-control" aria-label="pw" id="pw" v-model="myPass" placeholder="*****" :class="{ myerror :formValidation.myPass}">
      <label class="form-label" for="pw">Confirm passowrd</label>
      <input type="password" class="form-control" aria-label="pw" id="pw" v-model="myPassConf" placeholder="*****" :class="{ myerror :formValidation.myPassConf}">
      <div class="alert alert-danger" role="alert" v-if="formValidation.myPassConf">
        Please write and confirm your password.
      </div>
    </div>
    <div class="col-12 myLast">
      <input type="checkbox" id="confirm" v-model="confirm"><label class="form-label myAccept" for="confirm">Accept the terms and conditions.</label>
      <div class="alert alert-danger" role="alert" v-if="formValidation.confirm">
        You must accept the terms and conditions in order to be able to send this form.
      </div>
    </div>

      <div class="mb-3">
        <input type="submit" value="Send">
      </div>
    </form>
  </div>
  <div v-if="readyTosubmit" class="myDisplay container">
    <div class="col-6 text-start myContent">
      <h2>Summary</h2>
      <p v-for="(value, name) in summary"><b>{{name}} :</b> {{value}}</p>
      <button type="button" class="btn btn-success mx-5" @click="finallySubmit">Accept</button>
      <button type="button" class="btn btn-danger" @click="toggleVisible">Decline</button>
    </div>
  </div>  
</template>

<script>
import TutorialDataService from "../services/TutorialDataService";
import Cart from "../services/Cart";
import FormExternal from "../services/FormExternal";

export default {
  name: "tutorials-list",
  data() {
    return {
      tutorials: [],
      formData: {},
      summary: {},
      formValidation : {
        myName: false,
        mail: false,
        doc: false,
        document: false,
        studies: false,
        status: false,
        nationality: false,
        myPass: false,
        myPassConf: false,
        confirm: false
        
      },
      myName: "",
      mail: "",
      doctype: "default",
      document: "",
      studies: "default",
      status: "default",
      nationality: "default",
      myPass: "",
      myPassConf: "",
      confirm: false,
      readyTosubmit: false,
      currentTutorial: null,
      currentIndex: -1,
      title: "",
      isBought: null
    };
  },
  methods: {
    
    retrieveFormData() {
      FormExternal.getAll()
        .then(response => {
          this.formData = response.data;
          console.log(response.data);
        })
        .catch(e => {
          console.log(e);
        });
    },
    verifyDoc(doc, type) {
      const dniValidation = ['T','R','W','A','G','M','Y','F','P','D','X','B','N','J','Z','S','Q','V','H','L','C','K','E'];

      const validateDocs = (docnums, letter) => {
        return dniValidation[docnums % 23] == letter;
      }

      let result = false;
      if (type == 'nie') {
          if (doc.match(/[X-Z]{1}[0-9]{7}[A-Z]{1}/)){
              const nieCtrl = ['X','Y','Z'];
              const strgBuildNie = nieCtrl.indexOf(doc.substring(0,1)) + doc.substring(1,8);
              result = validateDocs(strgBuildNie,doc.substring(8,9));
              //console.log(strgBuildNie , docMod.value.substring(8,9), result, dniValidation[strgBuildNie % 23]);
          }
      } else if (type == 'dni'){
          result = validateDocs(doc.substring(0,8),doc.substring(8,9));
      } else {
        return true;
      }
      if (!result) {
          return false
      } else {
          return true;
      }
      return false;
    },
    verifyMail(mail) {
      const mailTxt = mail == '' ? 'Is null' : mail;
      const myValue = mail.match(/[^@]+@[^@]+\.\D{2,3}/) != null ? mail.match(/[^@]+@[^@]+\.\D{2,3}/)[0] : 'Is null';

      return (myValue == mailTxt && myValue != 'Is null') ? true:  false;   
    },
    finallySubmit() {
      const myData = this.summary;

      console.log(myData);
      // post to DB
      FormExternal.create(myData)
        .then(response => {
          console.log(response.data);
          const myForm = document.getElementById("myForm");
          myForm.submit();
        })
        .catch(e => {
          console.log(e);
        });
    },
    toggleVisible() {
      this.readyTosubmit = false;
    },
    formSubmit(e) {
      e.preventDefault();
      if (this.myName == "") {
        this.formValidation.myName = true;
      }else {
        this.formValidation.myName = false;
      }
      if (this.mail == "" || !this.verifyMail(this.mail)) {
        this.formValidation.mail = true;
      }else if (this.verifyMail(this.mail)){
        this.formValidation.mail = false;
      };
      if (this.doctype == "default") {
        this.formValidation.doc = true;
      }else {
        this.formValidation.doc = false;
      };
      // validacion dni/nie
      if (this.document == "") {
        this.formValidation.document = true;
      }else if (this.verifyDoc(this.document,this.doctype)){
        this.formValidation.document = false;
      } else {
        this.formValidation.document = true;
      }
      if (this.studies == "default") {
        this.formValidation.studies = true;
      }else {
        this.formValidation.studies = false;
      };
      if (this.status == "default") {
        this.formValidation.status = true;
      }else {
        this.formValidation.status = false;
      };
      if (this.nationality == "default") {
        this.formValidation.nationality = true;
      } else {
        this.formValidation.nationality = false;
      };
      if (this.myPass == "" || this.myPass != this.myPassConf) {
        this.formValidation.myPass = true;
        this.formValidation.myPassConf = true;
      } else if (this.myPass != "" && this.myPass == this.myPassConf){
        this.formValidation.myPass = false;
        this.formValidation.myPassConf = false;
      };
      if (!this.confirm) {
        this.formValidation.confirm = true;
      } else {
        this.formValidation.confirm = false;
      };
      for (const val in this.formValidation) {
        if (this.formValidation.hasOwnProperty(val)) {
          if (this.formValidation[val] == true) {
            e.preventDefault();
            console.log("form not valid")
            return false;
          }
        }
      }
      e.preventDefault();
      const myData = {
        "name": this.myName,
        "email": this.mail,
        "typeOfDocument": this.doctype,
        "document": this.document,
        "studies": this.studies,
        "status": this.status,
        "nationality": this.nationality,
        "password": this.myPass
      }
      this.readyTosubmit = true;
      this.summary = myData;
      return;
      /*
      console.log(myData);
      // post to DB
      FormExternal.create(myData)
        .then(response => {
          console.log(response.data);
          const myForm = document.getElementById("myForm");
          myForm.submit();
        })
        .catch(e => {
          console.log(e);
        });
        */
    },
    
    retrieveTutorials() {
      TutorialDataService.getAll()
        .then(response => {
          this.tutorials = response.data;
          console.log(response.data);
        })
        .catch(e => {
          console.log(e);
        });
    },

    refreshList() {
      this.retrieveTutorials();
      this.currentTutorial = null;
      this.currentIndex = -1;
    },

    setActiveTutorial(tutorial, index) {
      this.currentTutorial = tutorial;
      this.currentIndex = index;
      // RETRIEVE BOUGHT TUTORIALS
      Cart.get(tutorial.id)
        .then(response => {
          this.isBought = true;
          console.log(response.data);
          console.log(this.isBought);
        })
        .catch(e => {
          this.isBought = false;
          console.log(e);
          console.log(this.isBought);
        });
    },

    removeAllTutorials() {
      TutorialDataService.deleteAll()
        .then(response => {
          console.log(response.data);
          this.refreshList();
        })
        .catch(e => {
          console.log(e);
        });
    },
    
    searchTitle() {
      TutorialDataService.findByTitle(this.title)
        .then(response => {
          this.tutorials = response.data;
          console.log(response.data);
        })
        .catch(e => {
          console.log(e);
        });
    },
    // ADD TO CART
    addToCart(tutorialIndex) {
      console.log(tutorialIndex);
    
      const data = {
          id : tutorialIndex
      };

        Cart.add(data)
        .then(response => {
          console.log(response.data);
          const purchased = {
            purchased: true
          };
          TutorialDataService.purchase(tutorialIndex,purchased)
          .then(response => {
            console.log(response.data);
            // set active tutorial here to force refreshList
            TutorialDataService.get(tutorialIndex)
            .then(response => {
              this.currentTutorial = response.data;
              this.isBought = true;
              console.log(response.data);
            })
            .catch(e => {
              console.log("failed on retrieving tutorial");
              console.log(e);
            });
          })
          .catch(e => {
            console.log(e);
            console.log("failed on purchase tutorial set");
          });
        })
        .catch(e => {
          console.log("failed on add to cart");
          console.log(e);
        });
    },
    // REMOVE FROM CART
    removeFromCart(tutorialIndex) {
      console.log(tutorialIndex);

        Cart.delete(tutorialIndex)
        .then(response => {
          console.log(response.data);
          const purchased = {
            purchased: false
          };
          TutorialDataService.purchase(tutorialIndex,purchased)
          .then(response => {
            console.log(response.data);
            // set active tutorial here to force refreshList
            TutorialDataService.get(tutorialIndex)
            .then(response => {
              this.currentTutorial = response.data;
              this.isBought = false;
              console.log(response.data);
            })
            .catch(e => {
              console.log("failed on retrieving tutorial");
              console.log(e);
            });
          })
          .catch(e => {
            console.log(e);
            console.log("failed on purchase tutorial set");
          });
        })
        .catch(e => {
          console.log("failed on remove from cart");
          console.log(e);
        });
     }

     
    
  },
  mounted() {
    //this.retrieveTutorials();
    
    this.retrieveFormData();
    
  }
};
</script>

<style>
.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}
</style>
