<template>
  <div>
    <h1>Wlcome To the body</h1>
  </div>
</template>

<script>
import TutorialDataService from "../services/TutorialDataService";
import Cart from "../services/Cart";
import FormExternal from "../services/FormExternal";

export default {
  name: "tutorials-list",
  data() {
    return {
      tutorials: [],
      formData: {},
      currentTutorial: null,
      currentIndex: -1,
      title: "",
      isBought: null
    };
  },
  methods: {
    retrieveForm() {
      FormExternal.getAll()
        .then(response => {
          this.formData = response.data;
          console.log(response.data);
        })
        .catch(e => {
          console.log(e);
        });
    },
    
    retrieveTutorials() {
      TutorialDataService.getAll()
        .then(response => {
          this.tutorials = response.data;
          console.log(response.data);
        })
        .catch(e => {
          console.log(e);
        });
    },

    refreshList() {
      this.retrieveTutorials();
      this.currentTutorial = null;
      this.currentIndex = -1;
    },

    setActiveTutorial(tutorial, index) {
      this.currentTutorial = tutorial;
      this.currentIndex = index;
      // RETRIEVE BOUGHT TUTORIALS
      Cart.get(tutorial.id)
        .then(response => {
          this.isBought = true;
          console.log(response.data);
          console.log(this.isBought);
        })
        .catch(e => {
          this.isBought = false;
          console.log(e);
          console.log(this.isBought);
        });
    },

    removeAllTutorials() {
      TutorialDataService.deleteAll()
        .then(response => {
          console.log(response.data);
          this.refreshList();
        })
        .catch(e => {
          console.log(e);
        });
    },
    
    searchTitle() {
      TutorialDataService.findByTitle(this.title)
        .then(response => {
          this.tutorials = response.data;
          console.log(response.data);
        })
        .catch(e => {
          console.log(e);
        });
    },
    // ADD TO CART
    addToCart(tutorialIndex) {
      console.log(tutorialIndex);
    
      const data = {
          id : tutorialIndex
      };

        Cart.add(data)
        .then(response => {
          console.log(response.data);
          const purchased = {
            purchased: true
          };
          TutorialDataService.purchase(tutorialIndex,purchased)
          .then(response => {
            console.log(response.data);
            // set active tutorial here to force refreshList
            TutorialDataService.get(tutorialIndex)
            .then(response => {
              this.currentTutorial = response.data;
              this.isBought = true;
              console.log(response.data);
            })
            .catch(e => {
              console.log("failed on retrieving tutorial");
              console.log(e);
            });
          })
          .catch(e => {
            console.log(e);
            console.log("failed on purchase tutorial set");
          });
        })
        .catch(e => {
          console.log("failed on add to cart");
          console.log(e);
        });
    },
    // REMOVE FROM CART
    removeFromCart(tutorialIndex) {
      console.log(tutorialIndex);

        Cart.delete(tutorialIndex)
        .then(response => {
          console.log(response.data);
          const purchased = {
            purchased: false
          };
          TutorialDataService.purchase(tutorialIndex,purchased)
          .then(response => {
            console.log(response.data);
            // set active tutorial here to force refreshList
            TutorialDataService.get(tutorialIndex)
            .then(response => {
              this.currentTutorial = response.data;
              this.isBought = false;
              console.log(response.data);
            })
            .catch(e => {
              console.log("failed on retrieving tutorial");
              console.log(e);
            });
          })
          .catch(e => {
            console.log(e);
            console.log("failed on purchase tutorial set");
          });
        })
        .catch(e => {
          console.log("failed on remove from cart");
          console.log(e);
        });
     }

     
    
  },
  mounted() {
    this.retrieveForm();
  }
};
</script>

<style>
.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}
</style>
