<template>
  <div class="list row">
    <div class="col-md-8">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Search by title"
          v-model="title"/>
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button"
            @click="searchTitle"
          >
            Search
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h4>Tutorials List</h4>
      <ul class="list-group">
        <li class="list-group-item"
          :class="{ active: index == currentIndex }"
          v-for="(tutorial, index) in tutorials"
          :key="index"
          @click="setActiveTutorial(tutorial, index)"
        >
          {{ tutorial.title }}
        </li>
      </ul>

      <button class="m-3 btn btn-sm btn-danger" @click="removeAllTutorials">
        Remove All
      </button>
    </div>
    <div class="col-md-6">
      <div v-if="currentTutorial">
        <h4>Tutorial</h4>
        <div>
          <label><strong>Title:</strong></label> {{ currentTutorial.title }}
        </div>
        <div>
          <label><strong>Description:</strong></label> {{ currentTutorial.description }}
        </div>
        <div v-if="currentTutorial.body">
          <label><strong>Body:</strong></label> {{ currentTutorial.body }}
        </div>
        <div v-if="currentTutorial.img == 'true'">
          <label><strong>Image:</strong></label> <img :src="'/img/' + currentTutorial.id + '.png'">
        </div>
        <div>
          <label><strong>Status:</strong></label> {{ currentTutorial.published ? "Published" : "Pending" }}
        </div>

        <router-link 
          :to="'/tutorials/' + currentTutorial.id" class="badge badge-warning">Edit</router-link>
        <router-link 
          :to="'/tutorials/view/' + currentTutorial.id" class="badge badge-primary">View</router-link>
        <button 
          v-if="!isBought" class="badge badge-success"
          @click="addToCart(currentTutorial.id)"
        >Add to cart</button>
        <button 
          @click="removeFromCart(currentTutorial.id)"
          v-else class="badge badge-success"
       >Unpurchase tutorial</button>
      </div>
      <div v-else>
        <br />
        <p>Please click on a Tutorial...</p>
      </div>
    </div>
  </div>
</template>

<script>
import TutorialDataService from "../services/TutorialDataService";
import Cart from "../services/Cart";

export default {
  name: "tutorials-list",
  data() {
    return {
      tutorials: [],
      currentTutorial: null,
      currentIndex: -1,
      title: "",
      isBought: null
    };
  },
  methods: {
    retrieveTutorials() {
      TutorialDataService.getAll()
        .then(response => {
          this.tutorials = response.data;
          console.log(response.data);
        })
        .catch(e => {
          console.log(e);
        });
    },

    refreshList() {
      this.retrieveTutorials();
      this.currentTutorial = null;
      this.currentIndex = -1;
    },

    setActiveTutorial(tutorial, index) {
      this.currentTutorial = tutorial;
      this.currentIndex = index;
      // RETRIEVE BOUGHT TUTORIALS
      Cart.get(tutorial.id)
        .then(response => {
          this.isBought = true;
          console.log(response.data);
          console.log(this.isBought);
        })
        .catch(e => {
          this.isBought = false;
          console.log(e);
          console.log(this.isBought);
        });
    },

    removeAllTutorials() {
      TutorialDataService.deleteAll()
        .then(response => {
          console.log(response.data);
          this.refreshList();
        })
        .catch(e => {
          console.log(e);
        });
    },
    
    searchTitle() {
      TutorialDataService.findByTitle(this.title)
        .then(response => {
          this.tutorials = response.data;
          console.log(response.data);
        })
        .catch(e => {
          console.log(e);
        });
    },
    // ADD TO CART
    addToCart(tutorialIndex) {
      console.log(tutorialIndex);
    
      const data = {
          id : tutorialIndex
      };

        Cart.add(data)
        .then(response => {
          console.log(response.data);
          const purchased = {
            purchased: true
          };
          TutorialDataService.purchase(tutorialIndex,purchased)
          .then(response => {
            console.log(response.data);
            // set active tutorial here to force refreshList
            TutorialDataService.get(tutorialIndex)
            .then(response => {
              this.currentTutorial = response.data;
              this.isBought = true;
              console.log(response.data);
            })
            .catch(e => {
              console.log("failed on retrieving tutorial");
              console.log(e);
            });
          })
          .catch(e => {
            console.log(e);
            console.log("failed on purchase tutorial set");
          });
        })
        .catch(e => {
          console.log("failed on add to cart");
          console.log(e);
        });
    },
    // REMOVE FROM CART
    removeFromCart(tutorialIndex) {
      console.log(tutorialIndex);

        Cart.delete(tutorialIndex)
        .then(response => {
          console.log(response.data);
          const purchased = {
            purchased: false
          };
          TutorialDataService.purchase(tutorialIndex,purchased)
          .then(response => {
            console.log(response.data);
            // set active tutorial here to force refreshList
            TutorialDataService.get(tutorialIndex)
            .then(response => {
              this.currentTutorial = response.data;
              this.isBought = false;
              console.log(response.data);
            })
            .catch(e => {
              console.log("failed on retrieving tutorial");
              console.log(e);
            });
          })
          .catch(e => {
            console.log(e);
            console.log("failed on purchase tutorial set");
          });
        })
        .catch(e => {
          console.log("failed on remove from cart");
          console.log(e);
        });
     }

     
    
  },
  mounted() {
    this.retrieveTutorials();
  }
};
</script>

<style>
.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}
</style>
